nav{
    padding: 0px 10px;
}

.block{
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 60px 0;
    text-align: center;
}

#button{
    display: inline-block;
    background-color: rgba(33, 150, 243, 0.7);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
                opacity .5s, vibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button img{
    position: absolute;
    top: 50%;
    right: 15px;
    width: 20px;
    transform: translateY(-50%);
    color: #fff ;
}

#button:hover{
    cursor: pointer;
    background-color: #2196f3;
}

#button:active{
    background-color: #0e599e;
}

#button.show{
    opacity: 1;
    visibility: visible;
}

ul{
    text-transform: uppercase;
}

nav{
    background-color: #0e599e;
}

#home,
#tecnologias,
#contato{
    background-color: #282c34;
}

.title,
.sub-title{
    color: #2196f3;
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    margin-left: 150px;
}
.sub-title{
    margin-top: -4%;
}
.sub{
    color: #73736b;
    text-align: start;
    margin-left: 150px;
    margin-top: -2.5%;
    font-size: 1.1rem;
}

img{
    height: 40px;
    width: 40px;
}

.text,
.card-title{
    color:#000;
}


#card{
    height: auto;
    width: auto;
    display: inline-block;
    justify-content: space-around;
}

